/*@import url('https://fonts.googleapis.com/css?family=Anton')*/
<style>
html
  overflow: hidden
  -moz-user-select: none
  user-select: none
  background-color: #0d0d0d
  body
    margin: 0

.c
  width: 20em
  padding: 1em
  background-color: rgba(255,255,255,0.05)
  border-radius: 4px
  position: absolute
  display: flex
  left: 50%
  bottom: 6em
  transform: translateX(-50%)
.a
  flex-grow: 1
  text-align: center
  color: white
  border-radius: 3px
  border: 1px solid rgba(255,255,255,0.1)
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8))
  padding: 0.6em 1em 0.6em 1em
  font-size: 12px
  font-family: arial
  box-shadow: 0 0 5px rgba(0,0,0,0.3)
  transition: box-shadow 1s
  &:nth-child(even)
    margin: 0 0.2em 0 0.2em

.bc
  cursor: pointer
  position: absolute
  width: 220px
  height: 80px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  flex-flow: row wrap
  align-content: flex-start
.b
  position: relative
  height: 4px
  width: 4px
  z-index: 0
  box-shadow: 0 0 1px rgba(0,0,0,0.5)
.t
  z-index: 1
  display: block
  position: absolute
  color: white
  font-family: 'Anton', sans-serif
  font-size: 22px
  top: 50%
  left: 50%
  width: 100%
  padding: 1.1em 0 1.1em 0
  transform: translate(-50%, -50%)
  text-align: center
  text-shadow: 0 0 5px rgba(0,0,0,0.5)

.rc
  visibility: hidden
  cursor: pointer
  padding: 1em
  display: flex
  align-items: center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
.re
  width: 50px
  height: 30px
  &:before
    content: ""
    position: absolute
    border-top: 15px solid transparent
    border-right: 25px solid white
    border-bottom: 15px solid transparent
  &:after
    content: ""
    position: absolute
    left: 30px
    border-top: 15px solid transparent
    border-right: 25px solid white
    border-bottom: 15px solid transparent

.round
  border-radius: 4px
.active
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.4)) !important
.scale
  zoom: 200%
</style>
